{% extends 'main.html' %}
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/post.css' %}" />
{% endblock %}

<!-- Title -->
{% block title %}
<title>Post</title>
{% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-5 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span> </span></div>
        </div>
        <div class="col-md-7 border-right wrapper">
           <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary"> Add Post</button>
           </form>
        </div>
    </div>
</div>

<script src="{% static 'scripts/vanilla-tilt.js' %}"></script>

{% endblock %}