{% extends 'main.html' %}
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/post.css' %}" />
{% endblock %}

<!-- Title -->
{% block title %}
<title>Post</title>
{% endblock %}

{% block content %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        
        <div class="col-md-7 border-right wrapper">
           <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-primary"> Add Post</button>
           </form>
        </div>
    </div>
</div>

<script src="{% static 'scripts/vanilla-tilt.js' %}"></script>

{% endblock %}