{% extends 'main.html' %}
{% load static %} 
{% block styles %}
<link rel="stylesheet" href="{% static 'styles/post.css' %}" />
{% endblock %}

<title>
    Add a new  Post
</title>

{% block content %}
{% if user.is_authenticated %}
   
    <div class="container shadow p-3 mb-5 bg-body rounded con" style="width: 80%;margin-top: 30px;">
        <h1 style="text-align:center; margin-top:10px;color:#9a35dd;font-weight: bolder">Add Post</h1>
        <br>
    <div class="form-group" style="font-weight: 600;line-height: 2.5;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <br>
            <button class="btn btn-primary btn-block" style="width:200px;position: relative;left:40%;
            background: linear-gradient(to right,#623dc6 ,#9a35dd );">Post</button>
        </form>
    </div>
    </div>
    <br/><br/>
{% endif %}
{% endblock %}