{% extends 'main.html' %}

<title>
    Comment on Blog Post
</title>

{% block content %}

    
    <div class="container shadow p-3 mb-5 bg-body rounded"  style="width: 65%;margin-top: 30px;">
        <h1 style="text-align:center; margin-top:10px; color:#1e3c72;font-weight: bolder">Add Comment</h1>
    <br/>
    <div class="form-group" style="font-weight: 600;line-height: 2.5;">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <br>
            <button class="btn btn-primary btn-block" style="width:200px;position: relative;left:40%;
            background: linear-gradient(to right,#373B44 ,#4286f4 );">Add Comment</button>
        </form>
    </div>
    </div>


{% endblock %}