{% extends 'main.html' %}
<title>Change Password</title>
{% block content %}


<div class="container shadow p-3 mb-5 bg-body rounded " style="width: 50%;margin-top: 30px;">
    <h1  style="text-align:center;color:#9a35dd;margin-top: 10px;font-weight: bolder;">Change Password...</h1>
<br/><br/>
<div class="form-group" style="font-weight: 600;line-height: 2.5;">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        
        <button class="btn btn-primary btn-block" style="width:200px;position: relative;left:35%;
        background: linear-gradient(to right,#623dc6 ,#9a35dd );">Change Password</button>
        <br/><br/>
        <ul>
            <li class="text-muted">Your password can't be too similar to your other personal information.</li>
            <li class="text-muted">Your password must contain atleast 8 characters.</li>
            <li class="text-muted">Your password can't be a commonly used password.</li>
            <li class="text-muted">Your password can't be entirely numeric.</li>
        </ul>
    </form>
</div>
</div>

{% endblock %}