{% extends 'main.html' %}

<title>Create User Profile</title>

{% block content %}
{% if user.is_authenticated %}
   
<div class="container">
        <h1 style="text-align: center; font-weight: bold; margin-top: 30px; color: #b512d2;">Create User Profile</h1>
        <br/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data" style="width: 50%; position: relative;left: 300px;">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn" style="background-color: #b512d2;color: #fff;position: relative;left: 200px;">Create Profile Page</button>
        </form>
        <br/>
        <br/>
    </div>
    </div>

{% else %}
<div class="card container shadow p-3 mb-5 bg-body rounded" style="width: 65%;margin-top: 150px;">
    <h3 class="delete-title"  style="text-align:center;color:#1e3c72; margin-top: 10px;font-weight: bolder"> <span style="color:#b512d2;">Login required to view this page</span ></h3>
    <div class="container"  >
    <div class="form-group" style="text-align: center;">
        <br/>
        <a href="{% url 'signup' %}" style="text-decoration: none; color: #fff;">
            <button class="btn" style="width:200px;position: relative;left: 1%; background-color: #b512d2; color: #fff;">Sign Up</button>
        </a>
    </div>
    </div>
</div>
{% endif %}
{% endblock %}