{% extends 'main.html' %}
{% load static %}

<title>
     Delete Post
</title>

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/deletepost.css' %}" />
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <br/><br/>
    <div class="card container shadow p-3 mb-5 bg-body rounded" style="width: 65%;margin-top: 150px;">
    <h3 class="delete-title"  style="text-align:center;color:#1e3c72; margin-top: 10px;font-weight: bolder">Delete: <span style="color:#DC3545;">{{post.title}}</span ></h3>
    <div class="container"  >
    <div class="form-group" style="text-align: center;">
        <form method="POST">
            {% csrf_token %}
            <br>
            <strong class="warning-text" style="position: relative;left: 1%;" >Are you sure?</strong><br/>
           <br>
            <button class="btn btn-danger delete-post" style="width:200px;position: relative;left: 1%;">Delete Post</button>
        </form>
    </div>
    </div>
</div>
{% else %}
Login required to delete
{% endif %}    
{% endblock %}