{% extends 'main.html' %} {% load static %} {% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/friends.css' %}" />
{% endblock %}

{% block content %}
<div class="container friends">
    <div class="row" style="margin-top:100px;">
        <div class="col-md-4">
          <div class="profile-card" data-tilt>
            <div class="profile-card-header">
              <div class="profile-image"></div>
          
              <div class="profile-info">
                <h3 class="profile-name">{{page_user.fname}}</h3>
                <p class="profile-desc">{{page_user.caption}}</p>
              </div>
            </div>
          
            <div class="profile-card-body">
              <ul class="status">
                <li>
                  <span class="status-value">532</span>
                  <span class="status-text">Posts</span>
                </li>
          
                <li>
                  <span class="status-value">1.5m</span>
                  <span class="status-text">Followers</span>
                </li>
          
                <li>
                  <span class="status-value">423</span>
                  <span class="status-text">Following</span>
                </li>
              </ul>
          
              <div class="action">
                <button class="btn btn-danger follow">Follow</button>
              </div>
            </div>
          </div>

        </div>
    </div>
</div>
<script src="{% static 'scripts/vanilla-tilt.js' %}"></script>
{% endblock %}