{% extends 'main.html' %}
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}" />
{% endblock %}


<!-- Title -->
{% block title %}
<title>Dashboard</title>
{% endblock %}



{% block content %} 
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <li class="d-flex" style="color:white;">
            <img
            class="rounded-circle"
            width="35"
            height="35"
            style="object-fit: cover; cursor: pointer;"
            src="{% static 'images/user/default.jpg'%}"
          />
        </li>
      </div>
    </div>
  </nav>

<div class="row">
    <div class="col">
        <div class="container con">
            <div class="leaderboard">
                <div class="head">
                    <i class="fas fa-crown"></i>
                    <h3 class="leaderboard-heading">Most active users</h3>
                </div>
                <div class="body">
                    <ol>
                        <li>
                            <mark>Jerry Wood</mark>
                            <small>948</small>
                        </li>
                        <li>
                            <mark>Brandon Barnes</mark>
                            <small>750</small>
                        </li>
                        <li>
                            <mark>Raymond Knight</mark>
                            <small>684</small>
                        </li>
                        <li>
                            <mark>Trevor McCormick</mark>
                            <small>335</small>
                        </li>
                        <li>
                            <mark>Andrew Fox</mark>
                            <small>296</small>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
      </div>
    
<div class="col-6">
<div class="card post-item container">
    <img src="{% static 'images/posts/photo-1.jpg' %}" class="card-img-top posts" alt="...">
    <div class="card-body">
      <p class="card-text">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit unde similique facere fugiat voluptate non ipsum ad tempora, ab esse dolores in alias sapiente numquam! Magni, facere fuga. Aut, nisi.</p>
    </div>
    <span class="like">
        <div class="col-6">
        <i class="fa-regular fa-heart fa-2x"></i>
        <i class="fa-regular fa-comment fa-2x"></i>
        </div>

        <div class="col-6">
        <span class="author">
        <span class="badge text-bg-danger text-badge">Posted by Albert Powell</span>
        <button class="profile">View Profile</button>
         </span>
        </div>
    </span>
    <a href="#" class="comment">View Comments 👈🏻</a>
  </div>

  <div class="card post-item container">
    <img src="{% static 'images/posts/photo-1.jpg' %}" class="card-img-top posts" alt="...">
    <div class="card-body">
      <p class="card-text">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit unde similique facere fugiat voluptate non ipsum ad tempora, ab esse dolores in alias sapiente numquam! Magni, facere fuga. Aut, nisi.</p>
    </div>
    <span class="like">
        <div class="col-6">
        <i class="fa-regular fa-heart fa-2x"></i>
        <i class="fa-regular fa-comment fa-2x"></i>
        </div>

        <div class="col-6">
        <span class="author">
        <span class="badge text-bg-danger text-badge">Posted by Albert Powell</span>
        <button class="profile">View Profile</button>
         </span>
        </div>
    </span>
    <a href="#" class="comment">View Comments 👈🏻</a>
  </div>

  <div class="card post-item container">
    <img src="{% static 'images/posts/photo-1.jpg' %}" class="card-img-top posts" alt="...">
    <div class="card-body">
      <p class="card-text">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit unde similique facere fugiat voluptate non ipsum ad tempora, ab esse dolores in alias sapiente numquam! Magni, facere fuga. Aut, nisi.</p>
    </div>
    <span class="like">
        <div class="col-6">
        <i class="fa-regular fa-heart fa-2x"></i>
        <i class="fa-regular fa-comment fa-2x"></i>
        </div>

        <div class="col-6">
        <span class="author">
        <span class="badge text-bg-danger text-badge">Posted by Albert Powell</span>
        <button class="profile">View Profile</button>
         </span>
        </div>
    </span>
    <a href="#" class="comment">View Comments 👈🏻</a>
  </div>
</div>

<div class="col">
  <div class="container search-section">
    <h3 class="search-heading">Search Your Friends</h3>
    <form>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
  </div>
</div>

</div>

{% endblock %}