{% extends 'main.html' %}
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}" />
{% endblock %}


<!-- Title -->
{% block title %}
<title>Login</title>
{% endblock %}

{% load crispy_forms_tags %}
{% block content %} 


<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-4 offset-md-4">
                <!-- {% for message in messages %}
                <div class="alert alert-success">
                {{ message }}
                </div>
                {% endfor %} -->
         <div class="card shadow hover01" style="width:150%; justify-content:center; align-items:center;">
                <div class="card-body">
                <h3 class="sub-text">Login</h3>
                <p class="under-text">Enter your credentials to access your account</p>

                <hr>
                <form method="POST" class="form">
                    {% csrf_token %}
                        {{form|crispy}}
                        <input class="btn btn-success btn-block mt-5" type="submit" value="Login">
                        <p class="signup">Don't have an account? <span><a href="{% url 'signup' %}">Sign up</a></span></p>
                        <p class="forgot-password">
                            <a href="">Forgot password?</a>
                        </p>
                    </form>
                    </div>
                </div>
            </div>
        </div>
</div>


{% endblock %}

