<!-- {% extends 'main.html' %} -->
{% load static %} 
{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/signup.scss' %}" />
{% endblock %}

{% block content %} 
<div class="container">
<div class="form-container sign-in-container">
    <form action="#">
        <h1 style="color:rgb(107,76,230)" style="position:relative;bottom:15px;">Sign in</h1>
        <input type="email" placeholder="Email" />
        <br>
        <input type="password" placeholder="Password" />
        <a href="#">Forgot your password?</a>
        <button>Sign In</button>
    </form>
</div>

<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-right">
            <h1>Not a User?</h1>
            <p>Enter your personal details to Sign Up</p>
            <button class="ghost" id="'signUp">
                <a href="{% url 'signup' %}" style="text-decoration:none;color:#fff;">
                Sign Up
                </a>
            </button>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}