{% extends 'main.html' %}
{% load static %} 

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/otherprofile.css' %}" />
{% endblock %}

<!-- Title -->
{% block title %}
<title>Profile</title>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row m-b-r m-t-3">
        <div class="col-md-2 offset-md-1">
            <img src="https://mdbootstrap.com/images/avatars/img%20(1).jpg" alt="" class="img-circle img-fluid">
        </div>
        <div class="col-md-9 p-t-2">
            <h2 class="h2-responsive">@janedoe <button type="button" class="btn btn-info-outline waves-effect">Follow</button></h2>
            <p>Jane Doe</p>

            <ul class="flex-menu">
                <li><strong>41</strong> posts</li>
                <li><strong>47k</strong> followers</li>
                <li><strong>208</strong> following</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="view overlay hm-black-light m-b-2">
                <img src="https://mdbootstrap.com/images/regular/nature/img%20(1).jpg" class="img-fluid " alt="">
                <div class="mask flex-center">
                    <ul class="flex-menu">
                        <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> 32</p></li>
                        <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> 1.2K</i></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 m-b-2">
            <div class="view overlay hm-black-light">
                <img src="https://mdbootstrap.com/images/regular/nature/img%20(2).jpg" class="img-fluid " alt="">
                <div class="mask flex-center">
                    <ul class="flex-menu">
                        <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> 32</p></li>
                        <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> 1.2K</i></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 m-b-2">
            <div class="view overlay hm-black-light">
                <img src="https://mdbootstrap.com/images/regular/nature/img%20(3).jpg" class="img-fluid " alt="">
                <div class="mask flex-center">
                    <ul class="flex-menu">
                        <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> 32</p></li>
                        <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> 1.2K</i></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 m-b-2">
            <div class="view overlay hm-black-light">
                <img src="https://mdbootstrap.com/images/regular/nature/img%20(4).jpg" class="img-fluid " alt="">
                <div class="mask flex-center">
                    <ul class="flex-menu">
                        <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> 32</p></li>
                        <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> 1.2K</i></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 m-b-2">
            <div class="view overlay hm-black-light">
                <img src="https://mdbootstrap.com/images/regular/nature/img%20(5).jpg" class="img-fluid " alt="">
                <div class="mask flex-center">
                    <ul class="flex-menu">
                        <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> 32</p></li>
                        <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> 1.2K</i></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 m-b-2">
            <div class="view overlay hm-black-light">
                <img src="https://mdbootstrap.com/images/regular/nature/img%20(6).jpg" class="img-fluid " alt="">
                <div class="mask flex-center">
                    <ul class="flex-menu">
                        <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> 32</p></li>
                        <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> 1.2K</i></p></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 m-b-2">
            <div class="view overlay hm-black-light">
                <img src="https://mdbootstrap.com/images/regular/nature/img%20(7).jpg" class="img-fluid " alt="">
                <div class="mask flex-center">
                    <ul class="flex-menu">
                        <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> 32</p></li>
                        <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> 1.2K</i></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 m-b-2">
            <div class="view overlay hm-black-light">
                <img src="https://mdbootstrap.com/images/regular/nature/img%20(8).jpg" class="img-fluid " alt="">
                <div class="mask flex-center">
                    <ul class="flex-menu">
                        <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> 32</p></li>
                        <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> 1.2K</i></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 m-b-2">
            <div class="view overlay hm-black-light">
                <img src="https://mdbootstrap.com/images/regular/nature/img%20(9).jpg" class="img-fluid " alt="">
                <div class="mask flex-center">
                    <ul class="flex-menu">
                        <li><p class="white-text"><i class="fa fa-comment" aria-hidden="true"></i> 32</p></li>
                        <li><p class="white-text"><i class="fa fa-heart" aria-hidden="true"></i> 1.2K</i></p></li>
                    </ul>
                </div>
            </div>
        </div>					
    </div>
</div>
</main>

{% endblock %}

