{% extends 'main.html' %}
<title>Password updated</title>
{% block content %}

<div class="card container shadow p-3 mb-5 bg-body rounded" style="width: 65%;margin-top: 150px;">
    <h3 class="delete-title"  style="text-align:center;color:#9a35dd; margin-top: 10px;font-weight: bolder">Your Password Was Changed Successfully...</h3>
    <br/>
    <button style="background-color: #9a35dd;border-color: #9a35dd; width: 40%; position: relative;left: 220px;">
        <a href="{% url 'home' %}" style="color: #fff; text-decoration: none;">
          Go back
        </a>
    </button>
</div>

{% endblock %}