{% extends 'main.html' %} {% load static %} {% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/profile.css' %}" />
{% endblock %}

{% block content %}
<div class="profile-card">
	<div class="profile-card-header">
		<div class="profile-image"></div>

		<div class="profile-info">
			<h3 class="profile-name">{{request.user.first_name}} {{request.user.last_name}}</h3>
			<p class="profile-desc">Developer/Conent Creator</p>
		</div>
	</div>

	<div class="profile-card-body">
		<ul class="status">
			<li>
				<span class="status-value">532</span>
				<span class="status-text">Posts</span>
			</li>

			<li>
				<span class="status-value">1.5m</span>
				<span class="status-text">Followers</span>
			</li>

			<li>
				<span class="status-value">423</span>
				<span class="status-text">Following</span>
			</li>
		</ul>

		<div class="action">
			<button class="btn btn-success" style="position: relative;left: 80px;">Follow</button>
		</div>
	</div>
</div>
{% endblock %}