

{% extends 'main.html' %} {% load static %} {% block styles %}

<link rel="stylesheet" href="{% static 'styles/search.css' %}" />
{% endblock %}

{% block content %}

<main>
{% if username_profile_list %}
{% for users in username_profile_list %}
  <article class="profile">
    <div class="profile__bg"></div>
    <div class="profile__info">
      <h2 class="profile__name" style=" color: rgb(2, 60, 77);">{{users.fname}} {{users.name}}</h2>
      <p style="font-weight: bold; color: rgb(2, 71, 90);">@{{users.username}}</p>
      <p class="profile__location text-muted" style=" color: rgb(2, 61, 78);">{{users.description}}</p>
      <div class="profile__stats">
        <div class="stat">
          <p class="stat__number">80K</p>
          <p class="stat__name">Followers</p>
        </div>
       
      </div>
    </div>
    <div class="profile__img__container">
      <a href="{% url 'show_profile_page' users.id %}">
      <img class="profile__img" src="{{users.profileimg.url}}">
      </a>
    </div>
  </article>
  {% endfor %}
  {% else %}
  <div class="empty-state">
    <div class="empty-state__content">
      <div class="empty-state__icon">
        <img src="{% static 'images/home/not-found.webp' %}" alt="" style="position: relative;left: 300px;">
      </div>
      <div class="empty-state__message" style="color: #9a35dd;font-weight: bold;font-size: 30px; text-align: center;">No Users found
        <br/><br/>
        <a href="{% url 'home' %}" style="text-decoration: none; color: #fff;">
            <button type="submit" class="btn btn-success">Go back</button>
        </a>
     </div>
      <br/><br/><br/>
      
    </div>
  </div>
  {% endif %}
</main>



{% endblock %}