{% extends 'main.html' %} {% load static %} {% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/search.css' %}" />
{% endblock %}

{% block content %}

<div class="container">
{% for users in username_profile_list %}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{users.profileimg.url}}" class="img-fluid rounded-start" alt="profileimg">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{users.fname}} | {{users.username}}</h5>
          <p class="card-text">{{users.description}}</p>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</div>

{% endblock %}