<!-- {% extends 'main.html' %} -->
{% load static %} 
{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/signup.scss' %}" />
{% endblock %}

{% block content %} 
<div class="container" id="container">

<div class="form-container sign-in-container">
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <h1 style="color:rgb(107,76,230)" style="position:relative;bottom:15px;">Sign Up</h1>
        <input type="text" placeholder="Username" name="username" id="username" />
        <br>
        <input type="email" placeholder="Email" name="email" id="email" />
        <br>
        <input type="password" placeholder="Password" name="password" id="password" />
        <br>
        <button>Sign Up</button>
    </form>

</div>
<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-left">
            <h1>Welcome Back User!</h1>
            <p>Login to stay connected</p>
            <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
            <h1>Already a User?</h1>
            <p>Enter your personal details to Sign In</p>
            <button class="ghost" id="'signUp">
              <a href="{% url 'login' %}" style="text-decoration:none;color:#fff;">
                Login
                </a>
            </button>
        </div>
    </div>
</div>
</div>

{% endblock %}