<!-- {% extends 'main.html' %} -->
{% load static %} 
{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/signup.scss' %}" />
{% endblock %}

{% block content %} 
<div class="container"
id="container">
<div class="form-container sign-up-container">
    <form action="#">
        <h1>Create Account</h1>
        <div class="social-container">
            <a href="#" class="social">
                <i class="fab fa-google-plus-g"></i>
            </a>
        </div>
        <span>or use your your email for registration</span>
    <input type="text" placeholder="Name" />
    <input type="email" placeholder="Email" class="input" />
    <button>Sign Up</button>
    </form>
</div>
<div class="form-container sign-in-container">
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <h1 style="color:rgb(107,76,230)" style="position:relative;bottom:15px;">Sign Up</h1>
        <input type="text" placeholder="Username" name="username" />
        <br>
        <input type="email" placeholder="Email" name="email" />
        <br>
        <input type="password" placeholder="Password" name="password" />
        <br>
        <!-- <input type="password" placeholder="Confirm Password" name="confirm-password" /> -->
        <a href="#">Forgot your password?</a>
        <button>Sign Up</button>
    </form>

</div>
<div class="overlay-container">
    <div class="overlay">
        <div class="overlay-panel overlay-left">
            <h1>Welcome Back User!</h1>
            <p>Login to stay connected</p>
            <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
            <h1>Already a User?</h1>
            <p>Enter your personal details to Sign In</p>
            <button class="ghost" id="'signUp">
              <a href="{% url 'login' %}" style="text-decoration:none;color:#fff;">
                Login
                </a>
            </button>
        </div>
    </div>
</div>
</div>

{% endblock %}