{% extends 'main.html' %}
{% load static %} 

<title>
    Edit Blog Post
</title>

{% block styles %}
<!-- Replace {name} with the respective css file -->
<link rel="stylesheet" href="{% static 'styles/update_post.css' %}" />
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
    
    <div class="container shadow p-3 mb-5 bg-body rounded" style="width: 80%;margin-top: 30px;">
        <h1 style="text-align:center;color:#1e3c72; margin-top: 10px;font-weight: bolder">Update Post</h1>
    <br/><br/>
    <div class="form-group" style="font-weight: 600;line-height: 2.5;">
        <form method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <br>
            <button class="btn btn-primary btn-block" style="width:200px;position: relative;left:40%;
            background: linear-gradient(to right,#373B44 ,#4286f4 );">Update</button>
        </form>
    </div>
    <br/><br/>
    </div>
    
{% endif %}
{% endif %}

{% endblock %}