@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

body {
	height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: #600b28;
}


.profile-card {
	align-items: center; 
	padding: 2rem;
	/* background: linear-gradient(to bottom, #3a404d, #3b4151); */
	background-color:rgb(107,76,230);
	color: #fff;
	backdrop-filter: blur(5px);
	box-shadow: 0 4px 30px #4fdfdf1a;
	border-radius: 1rem;
}

.col-md-4{
    margin-bottom: 70px;
}


.profile-image {
	position: relative;
	top: -60px;
    left: 50px;
	border-radius: 1rem;
	background-image: url(https://yt3.ggpht.com/ytc/AKedOLSB-oR-xmvVSZXJ3gbK12uvv0AJUvajwxMie_R_uw=s900-c-k-c0x00ffffff-no-rj);
	width: 11rem;
	height: 11rem;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.status {
	list-style: none;
	display: flex;
	justify-content: space-between;
	text-align: center;
	line-height: 1rem;
	margin-bottom: 1.3rem;
}


.status-value {
	color: #fff;
	font-weight: 700;
}

.status-text {
	font-size: 0.8rem;
	color: rgb(224, 201, 201);
}

.action {
	display: flex;
	justify-content: space-between;
}

.btn-gray-outline {
	border: 1px solid;
	background: transparent;
}

.follow{
	background: white;
}

.profile-info {
	text-align: center;
	margin-top: -3rem;
	margin-bottom: 1rem;
}

.follow{
	margin-left: 100px;
}

.profile-info > .profile-name {
	color: #fff;
}

.profile-info > .profile-desc {
	color: rgb(224, 201, 201);
	font-size: 0.9rem;
}

*,
*::after,
*::before {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


