.posts{
    height: 330px;
    width: fit-content;
}

.posts1{
	margin-left: 10px;
}

.post-item{
    display: grid;
    border: 2px solid aliceblue;
    margin: 40px;
}

*{
    overflow-x: hidden;
}

.post-text{
    padding-top: 20px;
    padding-left: 38px;
    width: 92%;
    height: 100px;
}

.like{
    padding-left: 38px;
    padding-bottom:10px;
    padding-top: 10px;
    display: flex;
}

.fa-heart:hover {
    color: red;
    cursor: pointer;
}

.fa-comment{
    padding-left: 20px;
    cursor: pointer;
}

.comment{
    padding-bottom: 15px;
    padding-left: 35px;
    color: rgb(9, 61, 90);
    text-decoration: none;
    font-size: 17px;
}

.profile{
    background-color: rgb(12, 23, 105);
    color: white;
    border-radius: 15px;
    border-color: aliceblue;
}

.profile-card{
	background: linear-gradient(to bottom, #3a404d, #3b4151);
	color: #fff;
	backdrop-filter: blur(5px);
	box-shadow: 0 4px 30px rgba(0,0,0,0.1);
}

.badge{
    position: relative;
    top: 3px;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}

a {
	display: inline-block;
	color: #333;
	text-decoration: none;
}

.title1{
	color: white;
}

.text1{
	color: white;
}

.blog {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.leaderboard-heading{
    overflow-y: hidden;
}

/* leaderboard */
.leaderboard {
	background: linear-gradient(to bottom, #3a404d, #181c26);
}

/* head */
.leaderboard .head {
	padding: 20px 16px;
	color: snow;
	font-size: 20px;
	text-align: center;
}
.leaderboard .head h1 {
	display: inline-block;
	margin-left: 4px;
}

.con{
    margin-top: 40px;
}

/* body */
.leaderboard .body {
	color: snow;
	font-size: 16px;
    position: relative;
    right: 17px;
}
.leaderboard ol {
	counter-reset: number; 
}
.leaderboard li {
	padding: 16px;
	display: flex;
}
.leaderboard li mark {
	flex-grow: 1;
	color: snow;
	background-color: transparent;
}
.leaderboard li:before {
	counter-increment: number;
	content: counter(number) "."; 
	margin-right: 4px;
}
.leaderboard li:nth-child(1) {
	background: #fa6855;
}
.leaderboard li:nth-child(2) {
	background: #e0574f;
}
.leaderboard li:nth-child(3) {
	background: #d7514d;
}
.leaderboard li:nth-child(4) {
	background: #cd4b4b;
}
.leaderboard li:nth-child(5) {
	background: #c24448;
}

.search-heading{
    margin-top: 40px;
    overflow-y: hidden;
    color: #fff;
	
}

.btn-outline-success{
    margin-top: 10px;
    width: 100%;
}

.follow-img{
    object-fit: cover;
}

/* Profile card */
.status {
	list-style: none;
	display: flex;
	justify-content: space-between;
	text-align: center;
	line-height: 1rem;
	margin-bottom: 1.3rem;
    overflow-y: hidden;
}


.status-value {
	color: #fff;
	font-weight: 700;
}

.status-text {
	font-size: 0.8rem;
	color: #7c7c7d;
}

.group{
	overflow-y: hidden;
}

.btn-danger{
     margin-left: 50px;
}

.last{
	margin-right: 35px;
}

.statistics{
	overflow-y: hidden;
	margin-left: 90px;
	color:#c24448;
}

