body {
    background:#eee;
}

html,
body,
.view {
    height:100%;
}

.navbar-brand {
    color:#fff !important;
}

.profile-photo {
    width:48px;
    height:auto;
}

.flex-menu {
    display:flex;
    cursor: pointer;
}

.flex-menu li:not(:last-child) {
    margin-right:40px;
}

.profile-name{
    font-weight:500;
    font-size: 25px; 
    color: #212121;
    padding-left: 20px;
}

.h2-responsive{
    font-weight:400;
    font-size: 25px; 
    color: #212121;
    padding-left: 20px;
}

.flex-menu{
    list-style:none;
    position: relative;
    right:12px;
}

.follow-btn{
    margin-left: 30px;
}

.like{
    cursor: pointer;
    padding-top: 10px;
}

.like:hover{
    color: red;
    cursor: pointer;
}

.comment{
    cursor: pointer;
    padding-top: 10px;
}

.white-text{
    font-size: 12px;
    padding: 3px;
}

