/* Styles of signup page needs to be written here */
.heading{
    font-weight: 600;
    font-family: sans-serif;
    font-size: 45px;
    color: #5161ce;
    text-align: center;
}


.form-1{
    padding: 5px;
    margin-top: 20px;
    width: 80%;
    outline-color: #5161ce;
}

.rocket-img{
    height:500px;
    width: 530px;
}


.left{
    justify-content: center;
    text-align: center;
    height: 90%;
}


body{
    overflow-x: hidden;
}

.signup{
    width: 80%;
}

.hover01 {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
.hover01:hover {
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
}