/* All common styles will be written here */
/* .navigation{
    background: rgba(13, 13, 13, 0.2);
    box-shadow: 0 4px 50px rgba(0,0,0,0.6);
    backdrop-filter: blur(3px);
}

.nav-link{
    color: #000;
}

.nav-link:hover{
    color: #000;
}

.nav-logo{
    height: 60px;
} */